.cities {
  &__city {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.city {
  display: flex;
  align-items: center;
  padding: 6px;
  background: var(--gray);
  pointer-events: none;

  &__burger {
    @include button-reset;
    margin-right: 6px;
    cursor: pointer;
    pointer-events: auto;
  }

  &__delete {
    @include button-reset;
    margin-left: auto;
    cursor: pointer;
    pointer-events: auto;
  }
}
