.app {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;   
    font-size: 18px; 
    
    box-sizing: border-box;

    &__inner  {
        width: 296px;
        padding: 8px;
        display: flex;
        position: relative;
    }

    &__settings-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        @include button-reset;
       

        svg {
            @include defaultTransition(color, transform);
            transform-origin: 50%;
        }

        &:hover svg {
            color: var(--green);
            transform: rotate(180deg);
        }
    }
}
