.app {
    width: 296px;
    padding: 8px;    
    
    box-sizing: border-box;

    &__inner  {
        width: 100%;
        position: relative;
    }

    &__settings-toggle {
        position: absolute;
        top: 8px;
        right: 8px;
        @include button-reset;
        @include defaultTransition(color, transform);
        transform-origin: 50%;

        &:hover {
            color: var(--green);
            transform: rotate(180deg);
        }
    }
}
