.app {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;   
    font-size: 18px;     
    box-sizing: border-box;

    &__inner  {
        width: 304px;
        padding: 8px;
        display: flex;
        position: relative;
        box-sizing: border-box;
    }

    &__settings {
        position: absolute;
        top: 0;
        right: 0;        
        opacity: 0;
        width: 0px;
        padding: 0px;
        overflow: hidden;
        z-index: 1;      
        transition-property: opacity, width, padding;
        transition-duration: .3s;
        
      
        &.isVisible {
          opacity: 1;
          width: 100%;
          padding: 8px;
          overflow: hidden;
        }
    }

    &__settings-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        @include button-reset;
       

        svg {
            @include defaultTransition(color, transform);
            transform-origin: 50%;
        }

        &:hover svg {
            transform: rotate(180deg);
        }
    }
}
