@mixin button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin defaultTransition($args...) {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: $args;
}
