.add-city {
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-areas: "title ." "input submit" "results .";
    

    &__title {
       grid-area: title;
    }

    &__input {
        grid-area: input;
    }

    &__submit {
        grid-area: submit;
        @include button-reset;
    }

    &__results {
        grid-area: results;
    }

    &__result {
        cursor: pointer;
        margin-top: 8px;
        @include defaultTransition(color);

        &:hover {
            color: var(--green);
        }
    }
}