.settings {
  display: flex; 
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white);
  padding: 8px 8px 24px 8px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 

  &__close {
    @include button-reset;
    margin-left: auto;
  }

  &__cities {
    width: 100%;
    margin-top: 24px;
  }

  &__add-city {
    width: 100%;
    margin-top: 32px;
  }

  &__city {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
